version: '3'
services:
  nginx:
    image: nginx:1.15-alpine
    depends_on:
      - issuer
      - acapy
      - tails-server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /issuer/nginx:/etc/nginx/conf.d
      - /issuer/certbot/conf:/etc/letsencrypt
      - /issuer/certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    volumes:
      - /issuer/certbot/conf:/etc/letsencrypt
      - /issuer/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"